<ion-header>
  <ion-navbar>
    <ion-title>
      Illumination Manager
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <ion-grid>
  <ion-row id="illuminationManager-container1" >
    <ion-col>
    <button id="illuminationManager-button2" ion-button round large color="positive" block class="col col-50" on-click="goToFlashlight()">
      <ion-icon name="bulb"></ion-icon>
      Flashlight
    </button>
  </ion-col>
  <ion-col>
    <button id="illuminationManager-button4" ion-button round large  color="positive" block class="col col-50" on-click="goToReading()">
      <ion-icon name="book"></ion-icon>
      Reading
    </button>
  </ion-col>
  </ion-row>
  <ion-row id="illuminationManager-container3">
    <ion-col>
    <button id="illuminationManager-button5" ion-button round large  color="positive" block class="col col-50" on-click="goToDetectLight()">
      <ion-icon name="sunny"></ion-icon>
      Detect
    </button>
  </ion-col>
      <ion-col>
        <button id="illuminationManager-button13" ion-button round large  color="positive" block class="col col-50" on-click="goToCandle()">
          <ion-icon name="flame"></ion-icon>
          Candle
        </button>
  </ion-col>
  </ion-row>
  <ion-row id="illuminationManager-container4">
    <ion-col>
    <button id="illuminationManager-button8" ion-button round large  color="positive" block class="col col-50" on-click="goToColorOrgan()">
      <ion-icon name="color-wand"></ion-icon>
      Organ
    </button>
</ion-col>
  <ion-col>
    <button id="illuminationManager-button10" ion-button round large  color="positive" block class="col" on-click="goToSleepAndWake()">
      <ion-icon name="alarm"></ion-icon>
      Sleep / Wake
    </button>
  </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
    <button ion-button round large  color="positive" block class="col" on-click="toggleconnection()">
      <ion-icon></ion-icon>
      <span *ngIf="connected == false">Connect to </span><span *ngIf="connected">Disconnect from </span>&nbsp;device
    </button>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
